#container {
    position: relative;

}

#canvas-wrap {
    position        : absolute;
    background-color: rgba(0, 255, 0, 0.3);
    display         : flex;
    top             : 40%;
    right           : 2%;
    overflow-y      : auto;
    overflow-x: hidden;
    scale: inherit

    /* transition   : 0.2s all ease; */
}



/* Make this a positioned parent */
#chat {
    position   : absolute;
    font-weight: bold;
    left       : -1px;
    padding    : 10px 7px 5px;
    scale: inherit


}

#botones-user {
    position: absolute;
    display : flex;
    top     : 25%;
    left    : 1%;

}

#botones-chat {
    position: absolute;
    display : flex;
    top     : 80%;
    right   : 23.5%;
}

#add-button {
    margin-left: 10px;
}

#estado-usuarios{
    position: absolute;
    top: 50%;
    left: 5%;
}

